{erl_opts, [
    warn_export_all,
    warn_missing_spec,
    %warnings_as_errors,
    debug_info
]}.
{xref_checks, [
    undefined_function_calls,
    deprecated_function_calls,
    locals_not_used
]}.
{sub_dirs, ["rel"]}.
{deps, [
    {alley_common, ".*", {git, "https://github.com/PowerMeMobile/alley_common.git", {tag, "1.6.0"}}},
    {pmm_smpplib, "0.2.0", {git, "https://github.com/PowerMeMobile/pmm_smpplib.git", {branch, "long_queues_fix"}}},
    {libuuid, "1.0.0", {git, "git://github.com/PowerMeMobile/libuuid.git", "847e5de"}}, %% master
    {lager, "3.0.1", {git, "git://github.com/basho/lager.git", "3.0.1"}}, %% master
    {gproc, "0.6", {git, "git://github.com/uwiger/gproc.git", "0.6"}}, %% master
    {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.3.3"}}},

    {entop, "0.3.0", {git, "git://github.com/mazenharake/entop.git", {tag, "0.3.0"}}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", {tag, "0.92.0"}}},
    {recon, ".*", {git, "git://github.com/ferd/recon.git", "2.2.0"}}
]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
