{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "smppsink", "1", [
        kernel,
        stdlib,
        smppsink
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "smppsink"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {excl_app_filters, ["\.gitignore"]},
    {app, smppsink, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, eunit, [{incl_cond, include}]},
    {app, runtime_tools, [{incl_cond, include}]},
    {app, tools, [{incl_cond, include}]},
    {app, entop, [{incl_cond, include}]},
    {app, eper, [{incl_cond, include}]},
    {app, recon, [{incl_cond, include}]}
]}.

{target_dir, "smppsink"}.

{overlay, [
    {mkdir, "log"},
    {mkdir, "data"},
    {mkdir, "log/smpp"},

    {copy, "files/smppsink-starter", "bin/smppsink-starter"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/smppsink", "bin/smppsink"},
    {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
