[
{smppsink, [
    {addr, {0,0,0,0}},
    {port, 2775},

%%%%%% start ssl/tls block
%%%%%% comment this block to disalbge ssl/tls listener
    {cacertfile, "ssl/cowboy-ca.crt"},
    {certfile, "ssl/server.crt"},
    {keyfile, "ssl/server.key"},
%%%%%% end

    {server_name, "smppsink"},
    {accounts, [
        {account, [
            {bind_type, trx},
            {system_type, "smpp"},
            {system_id, "test"},
            {password, "test"}
        ]},
        {account, [
            {bind_type, trx},
            {system_type, "smpp"},
            {system_id, "smppclient1"},
            {password, "password"}
        ]},
        {account, [
            {bind_type, trx},
            {system_type, "smpp"},
            {system_id, "smppclient2"},
            {password, "password"}
        ]},
        {account, [
            {bind_type, trx},
            {system_type, "smpp"},
            {system_id, "smppclient3"},
            {password, "password"}
        ]},
        {account, [
            {bind_type, trx},
            {system_type, "smpp"},
            {system_id, "smppclient4"},
            {password, "password"}
        ]},
        {account, [
            {bind_type, trx},
            {system_type, "smpp"},
            {system_id, "smppclient5"},
            {password, "password"}
        ]}
    ]},

    {session_init_time, 10000},
    {enquire_link_time, 60000},
    {inactivity_time, infinity},
    {response_time, 60000}
]},

{mnesia, [{dir, "data/mnesia"}]},

{lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [
            {"log/debug.log", debug, 10485760, "$D0", 5},
            {"log/error.log", error, 10485760, "$D0", 5},
            {"log/info.log", info, 10485760, "$D0", 5}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
]}
].
